@model eShowroom.Models.BonEntree

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BonEntree</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NumeroBon" class="control-label"></label>
                <input asp-for="NumeroBon" class="form-control" />
                <span asp-validation-for="NumeroBon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateBon" class="control-label"></label>
                <input asp-for="DateBon" class="form-control" />
                <span asp-validation-for="DateBon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnteredDate" class="control-label"></label>
                <input asp-for="EnteredDate" class="form-control" />
                <span asp-validation-for="EnteredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FournisseurId" class="control-label"></label>
                <select asp-for="FournisseurId" class="form-control" asp-items="ViewBag.FournisseurId"></select>
                <span asp-validation-for="FournisseurId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
